body{
    font-family: 'Mulish', sans-serif;
}

/* navbar */
.navbar-brand{
    font-weight: 700;
    font-size: 32px;
}

/* utility */
.custom-button{
    text-transform: uppercase;
    border-radius: 40px;
}

/* DESKTOP VERSION */
@media (min-width: 992px) { 
    .nav-link{
        text-transform: uppercase;
        margin-right: 25px;
    }

    .nav-link:hover::after{
        content: '';
        display: block;
        border-bottom: 3px solid #0B63DC;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
 }